In [84]:
import pandas as pd
import numpy as np
from datetime import datetime
import warnings
warnings.filterwarnings('ignore')

In [85]:
df = pd.read_csv("/content/sample_data/marketing_campaign.csv", sep='\t')
df.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,5,0,0,0,0,0,0,3,11,0

In [86]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
ID,2240.0,5592.159821,3246.662198,0.0,2828.25,5458.5,8427.75,11191.0
Year_Birth,2240.0,1968.805804,11.984069,1893.0,1959.00,1970.0,1977.00,1996.0
Income,2216.0,52247.251354,25173.076661,1730.0,35303.00,51381.5,68522.00,666666.0
Kidhome,2240.0,0.444196,0.538398,0.0,0.00,0.0,1.00,2.0
Teenhome,2240.0,0.506250,0.544538,0.0,0.00,0.0,1.00,2.0
Recency,2240.0,49.109375,28.962453,0.0,24.00,49.0,74.00,99.0
MntWines,2240.0,303.935714,336.597393,0.0,23.75,173.5,504.25,1493.0
MntFruits,2240.0,26.302232,39.773434,0.0,1.00,8.0,33.00,199.0
MntMeatProducts,2240.0,166.950000,225.715373,0.0,16.00,67.0,232.00,1725.0
MntFishProducts,2240.0,37.525446,54.628979,0.0,3.00,12.0,50.00,259.0
MntSweetProducts,2240.0,27.062946,41.280498,0.0,1.00,8.0,33.00,263.0
MntGoldProds,2240.0,44.021875,52.167439,0.0,9.00,24.0,56.00,362.0
NumDealsPurchases,2240.0,2.325000,1.932238,0.0,1.00,2.0,3.00,15.0
NumWebPurchases,2240.0,4.084821,2.778714,0.0,2.00,4.0,6.00,27.0
NumCatalogPurchases,2240.0,2.662054,2.923101,0.0,0.00,2.0,4.00,28.0
NumStorePurchases,2240.0,5.790179,3.250958,0.0,3.00,5.0,8.00,13.0
NumWebVisitsMonth,2240.0,5.316518,2.426645,0.0,3.00,6.0,7.00,20.0
AcceptedCmp3,2240.0,0.072768,0.259813,0.0,0.00,0.0,0.00,1.0
AcceptedCmp4,2240.0,0.074554,0.262728,0.0,0.00,0.0,0.00,1.0
AcceptedCmp5,2240.0,0.072768,0.259813,0.0,0.00,0.0,0.00,1.0
AcceptedCmp1,2240.0,0.064286,0.245316,0.0,0.00,0.0,0.00,1.0
AcceptedCmp2,2240.0,0.013393,0.114976,0.0,0.00,0.0,0.00,1.0
Complain,2240.0,0.009375,0.096391,0.0,0.00,0.0,0.00,1.0
Z_CostContact,2240.0,3.000000,0.000000,3.0,3.00,3.0,3.00,3.0
Z_Revenue,2240.0,11.000000,0.000000,11.0,11.00,11.0,11.00,11.0
Response,2240.0,0.149107,0.356274,0.0,0.00,0.0,0.00,1.0

In [87]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Education            2240 non-null   object
 3   Marital_Status       2240 non-null   object
 4   Income               2216 non-null   float64
 5   Kidhome              2240 non-null   int64
 6   Teenhome             2240 non-null   int64
 7   Dt_Customer          2240 non-null   object
 8   Recency              2240 non-null   int64
 9   MntWines             2240 non-null   int64
 10  MntFruits            2240 non-null   int64
 11  MntMeatProducts      2240 non-null   int64
 12  MntFishProducts      2240 non-null   int64
 13  MntSweetProducts     2240 non-null   int64
 14  MntGoldProds         2240 non-null   int64
 15  NumDealsPurchases    2240 non-null   int64
 16  NumWebPurchases      2240 non-null   int64
 17  NumCatalogPurchases  2240 non-null   int64
 18  NumStorePurchases    2240 non-null   int64
 19  NumWebVisitsMonth    2240 non-null   int64
 20  AcceptedCmp3         2240 non-null   int64
 21  AcceptedCmp4         2240 non-null   int64
 22  AcceptedCmp5         2240 non-null   int64
 23  AcceptedCmp1         2240 non-null   int64
 24  AcceptedCmp2         2240 non-null   int64
 25  Complain             2240 non-null   int64
 26  Z_CostContact        2240 non-null   int64
 27  Z_Revenue            2240 non-null   int64
 28  Response             2240 non-null   int64
dtypes: float64(1), int64(25), object(3)
memory usage: 507.6+ KB

In [88]:
df[df["Income"].isnull()].index

Index([  10,   27,   43,   48,   58,   71,   90,   91,   92,  128,  133,  312,
        319, 1379, 1382, 1383, 1386, 2059, 2061, 2078, 2079, 2081, 2084, 2228],
      dtype='int64')

In [89]:
df["Income"] = df["Income"].fillna(df["Income"].mean())

In [90]:
df[df["Income"].isnull()].index

Index([], dtype='int64')

In [91]:
df = df.drop_duplicates()

In [92]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Education            2240 non-null   object
 3   Marital_Status       2240 non-null   object
 4   Income               2240 non-null   float64
 5   Kidhome              2240 non-null   int64
 6   Teenhome             2240 non-null   int64
 7   Dt_Customer          2240 non-null   object
 8   Recency              2240 non-null   int64
 9   MntWines             2240 non-null   int64
 10  MntFruits            2240 non-null   int64
 11  MntMeatProducts      2240 non-null   int64
 12  MntFishProducts      2240 non-null   int64
 13  MntSweetProducts     2240 non-null   int64
 14  MntGoldProds         2240 non-null   int64
 15  NumDealsPurchases    2240 non-null   int64
 16  NumWebPurchases      2240 non-null   int64
 17  NumCatalogPurchases  2240 non-null   int64
 18  NumStorePurchases    2240 non-null   int64
 19  NumWebVisitsMonth    2240 non-null   int64
 20  AcceptedCmp3         2240 non-null   int64
 21  AcceptedCmp4         2240 non-null   int64
 22  AcceptedCmp5         2240 non-null   int64
 23  AcceptedCmp1         2240 non-null   int64
 24  AcceptedCmp2         2240 non-null   int64
 25  Complain             2240 non-null   int64
 26  Z_CostContact        2240 non-null   int64
 27  Z_Revenue            2240 non-null   int64
 28  Response             2240 non-null   int64
dtypes: float64(1), int64(25), object(3)
memory usage: 507.6+ KB

In [93]:
numerical_columns=df.select_dtypes(include = 'number').columns
categorical_columns=df.select_dtypes(include = 'object').columns

In [94]:
df[categorical_columns] =df[categorical_columns].astype('category')
categorical_columns

Index(['Education', 'Marital_Status', 'Dt_Customer'], dtype='object')

In [95]:
df['Education'].unique()

['Graduation', 'PhD', 'Master', 'Basic', '2n Cycle']
Categories (5, object): ['2n Cycle', 'Basic', 'Graduation', 'Master', 'PhD']

In [96]:
df['Marital_Status'].unique()

['Single', 'Together', 'Married', 'Divorced', 'Widow', 'Alone', 'Absurd', 'YOLO']
Categories (8, object): ['Absurd', 'Alone', 'Divorced', 'Married', 'Single', 'Together', 'Widow',
                         'YOLO']

In [97]:
df['Marital_Status'] = df['Marital_Status'].replace(['Together', 'Married'] , 'Couple' )
df['Marital_Status'] = df['Marital_Status'].replace(['Divorced', 'Widow', 'Alone', 'Absurd', 'YOLO'] , 'Single')

In [98]:
print("Total categories in the feature Marital_Status :\n", df["Marital_Status"].value_counts(), "\n")
print("Total categories in the feature Education :\n", df["Education"].value_counts())

Total categories in the feature Marital_Status :
 Marital_Status
Couple    1444
Single     796
Name: count, dtype: int64

Total categories in the feature Education :
 Education
Graduation    1127
PhD            486
Master         370
2n Cycle       203
Basic           54
Name: count, dtype: int64

In [99]:
df.isna().sum()

ID                     0
Year_Birth             0
Education              0
Marital_Status         0
Income                 0
Kidhome                0
Teenhome               0
Dt_Customer            0
Recency                0
MntWines               0
MntFruits              0
MntMeatProducts        0
MntFishProducts        0
MntSweetProducts       0
MntGoldProds           0
NumDealsPurchases      0
NumWebPurchases        0
NumCatalogPurchases    0
NumStorePurchases      0
NumWebVisitsMonth      0
AcceptedCmp3           0
AcceptedCmp4           0
AcceptedCmp5           0
AcceptedCmp1           0
AcceptedCmp2           0
Complain               0
Z_CostContact          0
Z_Revenue              0
Response               0
dtype: int64

In [102]:
d_type = df.dtypes
n_unique = df.nunique()
null_ratio = df.isnull().sum() / df.shape[0]
pd.DataFrame({"D_Type" :  d_type , "N_Unique" : n_unique , "Null_Ratio" : null_ratio })

                       D_Type  N_Unique  Null_Ratio
ID                      int64      2240         0.0
Year_Birth              int64        59         0.0
Education            category         5         0.0
Marital_Status       category         2         0.0
Income                float64      1975         0.0
Kidhome                 int64         3         0.0
Teenhome                int64         3         0.0
Dt_Customer          category       663         0.0
Recency                 int64       100         0.0
MntWines                int64       776         0.0
MntFruits               int64       158         0.0
MntMeatProducts         int64       558         0.0
MntFishProducts         int64       182         0.0
MntSweetProducts        int64       177         0.0
MntGoldProds            int64       213         0.0
NumDealsPurchases       int64        15         0.0
NumWebPurchases         int64        15         0.0
NumCatalogPurchases     int64        14         0.0
NumStorePurchases       int64        14         0.0
NumWebVisitsMonth       int64        16         0.0
AcceptedCmp3            int64         2         0.0
AcceptedCmp4            int64         2         0.0
AcceptedCmp5            int64         2         0.0
AcceptedCmp1            int64         2         0.0
AcceptedCmp2            int64         2         0.0
Complain                int64         2         0.0
Z_CostContact           int64         1         0.0
Z_Revenue               int64         1         0.0
Response                int64         2         0.0

In [105]:
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')

In [106]:
df['dt_customer'] = pd.to_datetime(df['dt_customer'], format='%d-%m-%Y')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   2240 non-null   int64
 1   year_birth           2240 non-null   int64
 2   education            2240 non-null   category
 3   marital_status       2240 non-null   category
 4   income               2240 non-null   float64
 5   kidhome              2240 non-null   int64
 6   teenhome             2240 non-null   int64
 7   dt_customer          2240 non-null   datetime64[ns]
 8   recency              2240 non-null   int64
 9   mntwines             2240 non-null   int64
 10  mntfruits            2240 non-null   int64
 11  mntmeatproducts      2240 non-null   int64
 12  mntfishproducts      2240 non-null   int64
 13  mntsweetproducts     2240 non-null   int64
 14  mntgoldprods         2240 non-null   int64
 15  numdealspurchases    2240 non-null   int64
 16  numwebpurchases      2240 non-null   int64
 17  numcatalogpurchases  2240 non-null   int64
 18  numstorepurchases    2240 non-null   int64
 19  numwebvisitsmonth    2240 non-null   int64
 20  acceptedcmp3         2240 non-null   int64
 21  acceptedcmp4         2240 non-null   int64
 22  acceptedcmp5         2240 non-null   int64
 23  acceptedcmp1         2240 non-null   int64
 24  acceptedcmp2         2240 non-null   int64
 25  complain             2240 non-null   int64
 26  z_costcontact        2240 non-null   int64
 27  z_revenue            2240 non-null   int64
 28  response             2240 non-null   int64
dtypes: category(2), datetime64[ns](1), float64(1), int64(25)
memory usage: 477.3 KB

In [108]:
current_year = datetime.now().year
df['age'] = current_year - df['year_birth']

In [109]:
df['total_amount_spent'] = df['mntwines'] + df['mntfruits'] + df['mntmeatproducts'] + df['mntfishproducts'] + df['mntsweetproducts'] + df['mntgoldprods']
df['total_amount_spent'].head(5)

0    1617
1      27
2     776
3      53
4     422
Name: total_amount_spent, dtype: int64

In [110]:
df.head()

,id,year_birth,education,marital_status,income,kidhome,teenhome,dt_customer,recency,mntwines,...,acceptedcmp4,acceptedcmp5,acceptedcmp1,acceptedcmp2,complain,z_costcontact,z_revenue,response,age,total_amount_spent
0,5524,1957,Graduation,Single,58138.0,0,0,2012-09-04,58,635,...,0,0,0,0,0,3,11,1,68,1617
1,2174,1954,Graduation,Single,46344.0,1,1,2014-03-08,38,11,...,0,0,0,0,0,3,11,0,71,27
2,4141,1965,Graduation,Couple,71613.0,0,0,2013-08-21,26,426,...,0,0,0,0,0,3,11,0,60,776
3,6182,1984,Graduation,Couple,26646.0,1,0,2014-02-10,26,11,...,0,0,0,0,0,3,11,0,41,53
4,5324,1981,PhD,Couple,58293.0,1,0,2014-01-19,94,173,...,0,0,0,0,0,3,11,0,44,422